{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <div class="panel panel-info center">
        <div class="panel-heading">
          <h1 class="panel-title">{{ message }}</h1>
        </div>
        <div class="panel-body">
          <h5 class="light">App criado por alunos da Universidade de Brasília para auxiliar na detecção de possíveis quadros de depressão, através de uma Rede Neural Artificial.</h5>
          <br>
          <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-large waves-effect waves-light blue darken-3">Clique para Iniciar
              <i class="large material-icons right">touch_app</i>
            </button>
          </form>
          <br>
          <br>
          <br>
          <h6 class="light">Criado por:</h6>
          <h6 class="light">Ebenezer Andrade (12/0060213), Eduardo Sousa Sales Rodrigues (14/0038558),</h6>
          <h6 class="light">Felipe Boccardi Silva Agustini (14/0059903), Luciano Henrique Nunes de Almeida (11/0063392), </h6>
          <h6 class="light">Pedro Lucas (13/0035581), Vinicius Borges Almeida (15/0151225).</h6>
        </div>
        <br>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}
