{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <div class="panel panel-info center">

        <div class="panel-heading">
          <h2 class="panel-title">Formulário</h1>
        </div>
        {% if error %}
          <div class="card-panel">
            <span class="red-text text-darken-2">CAMPO OBRIGATÓRIO NÃO PREENCHIDO</span>
          </div>
        {% endif %}

        <div class="panel-body">
          <form action="" method="POST">
            {% csrf_token %}

            <!-- Início do bloco das perguntas -->
            <!-- Importante notar os grupos de pergutas, além do for no -->
            <!-- label ter que coincidir com o id do input -->
            <h5 class="light">Está sempre triste, ansioso ou sente um vazio interior persistente?</h5>
              <input class="with-gap" name="p01" id="Pergunta01-1" type="radio" value="True"/>
              <label for="Pergunta01-1">Sim</label>
              <input class="with-gap" name="p01" id="Pergunta01-2" type="radio" value="False"/>
              <label for="Pergunta01-2">Não</label>
              <br>
              <br>

            <h5 class="light">Você se considera uma pessoa pessimista ou desesperançosa?</h5>
              <input class="with-gap" name="p02" id="Pergunta02-1" type="radio" value="True"/>
              <label for="Pergunta02-1">Sim</label>
              <input class="with-gap" name="p02" id="Pergunta02-2" type="radio" value="False"/>
              <label for="Pergunta02-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem se irritado muito nos últimos dias?</h5>
              <input class="with-gap" name="p03" id="Pergunta03-1" type="radio" value="True"/>
              <label for="Pergunta03-1">Sim</label>
              <input class="with-gap" name="p03" id="Pergunta03-2" type="radio" value="False"/>
              <label for="Pergunta03-2">Não</label>
              <br>
              <br>

            <h5 class="light">Você se sente culpado ou pensando que nada do que faz é útil?</h5>
              <input class="with-gap" name="p04" id="Pergunta04-1" type="radio" value="True"/>
              <label for="Pergunta04-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta04-2" type="radio" value="False"/>
              <label for="Pergunta04-2">Não</label>
              <br>
              <br>

            <h5 class="light">Perdeu interesse ou prazer por hobbies ou outras atividades?</h5>
              <input class="with-gap" name="p05" id="Pergunta05-1" type="radio" value="True"/>
              <label for="Pergunta05-1">Sim</label>
              <input class="with-gap" name="p05" id="Pergunta05-2" type="radio" value="False"/>
              <label for="Pergunta05-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem se sentido cansado ou fatigado com frequência?</h5>
              <input class="with-gap" name="p04" id="Pergunta06-1" type="radio" value="True"/>
              <label for="Pergunta06-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta06-2" type="radio" value="False"/>
              <label for="Pergunta06-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem feito atividades mais lentamente ou falado mais devagar?</h5>
              <input class="with-gap" name="p04" id="Pergunta07-1" type="radio" value="True"/>
              <label for="Pergunta07-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta07-2" type="radio" value="False"/>
              <label for="Pergunta07-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem dificuldades de ficar sentado ou sente-se inquieto?</h5>
              <input class="with-gap" name="p04" id="Pergunta08-1" type="radio" value="True"/>
              <label for="Pergunta08-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta08-2" type="radio" value="False"/>
              <label for="Pergunta08-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem tido dificuldades de concentração, de se lembrar de coisa ou de tomar decisões?</h5>
              <input class="with-gap" name="p04" id="Pergunta09-1" type="radio" value="True"/>
              <label for="Pergunta09-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta09-2" type="radio" value="False"/>
              <label for="Pergunta09-2">Não</label>
              <br>
              <br>

            <h5 class="light">Você tem dificuldades de dormir, de acordar de manhã cedo ou de dormir mais que o necessário?</h5>
              <input class="with-gap" name="p04" id="Pergunta10-1" type="radio" value="True"/>
              <label for="Pergunta10-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta10-2" type="radio" value="False"/>
              <label for="Pergunta010-2">Não</label>
              <br>
              <br>

            <h5 class="light">Está tento alterações acentuadas no seu peso ou perda de apetite?</h5>
              <input class="with-gap" name="p04" id="Pergunta11-1" type="radio" value="True"/>
              <label for="Pergunta11-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta11-2" type="radio" value="False"/>
              <label for="Pergunta11-2">Não</label>
              <br>
              <br>

            <h5 class="light">Tem pensamentos de morte ou suicídio, ou já tentou suicídio?</h5>
              <input class="with-gap" name="p04" id="Pergunta12-1" type="radio" value="True"/>
              <label for="Pergunta12-1">Sim</label>
              <input class="with-gap" name="p04" id="Pergunta12-2" type="radio" value="False"/>
              <label for="Pergunta12-2">Não</label>
              <br>
              <br>

              <h5 class="light">Possui dores de cabeça, cólicas ou outras dores sem nenhuma causa aparente? Elas persistem mesmo após tratamento adequado?</h5>
              <input class="with-gap" name="p03" id="Pergunta13-1" type="radio" value="True"/>
              <label for="Pergunta13-1">Sim</label>
              <input class="with-gap" name="p03" id="Pergunta13-2" type="radio" value="False"/>
              <label for="Pergunta13-2">Não</label>
            <!-- Fim do bloco das perguntas -->

            <br>
            <br>
            <br>

            <button type="submit" class="btn-large waves-effect waves-light blue darken-3">Enviar
              <i class="large material-icons right">send</i>
            </button>
            <button type="reset" class="btn-large waves-effect waves-light red darken-3">Limpar
              <i class="large material-icons right">clear</i>
            </button>

          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}
