{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <div class="panel panel-info center">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a class="active" href="#resultados">Resultados</a></li>
              <li class="tab col s6"><a href="#graficos">Graficos</a></li>
            </ul>
          </div>
          <div id="resultados" class="col s12">
            <div class="panel-heading">
              <h1 class="panel-title">Resultado</h1>
            </div>
            <div class="panel-body">
              <h5 class="light">Você possui Depressão. :(</h5>
            </div>
          </div>
          <div id="graficos" class="col s12">
            <div class="panel-heading">
              <h3 class="panel-title">Gráficos</h3>
            </div>
            <div class="panel-body">
              <h5 class="light">A seguir você verá graficos gerados aleatoriamente pela aplicação.</h5>
            </div>
            <!-- dummy divs para alinhar o grafico no centro... -->
            <div id="chart-01-01" class="col s3"></div>
            <div id="chart-01" class="col s6 hoverable">
                  <canvas id="productsChart" width="100" height="100"></canvas>
            </div>
            <div id="chart-01-02" class="col s3"></div>
        </div>
        <br>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var ctx = document.getElementById("productsChart").getContext('2d');
        var names = JSON.parse('{{ names|safe }}');
        var prices = JSON.parse('{{ prices|safe }}');
        var productsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: names,
                datasets: [{
                    label: 'Produtos',
                    data: prices,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
