{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <div class="panel panel-info center">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#resultados">Resultados</a></li>
            <li class="tab col s6"><a href="#graficos">Gráficos</a></li>
          </ul>
        </div>
        <div id="resultados" class="col s12">
          <div class="panel-heading">
            <h3 class="panel-title">Resultado</h3>
          </div>
          <div class="panel-body">
            <h5 class="light">Você possui Depressão. :(</h5>
          </div>
        </div>
        <div id="graficos" class="col s12">
          <div class="panel-heading">
            <h3 class="panel-title">Gráficos</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <h5 class="light">Gráfico gerado a partir de valores de uma model:</h5>
              <div id="chart-01-01" class="col s3"></div>
              <div id="chart-01" class="col s6">
                <canvas id="modelChart" width="100" height="100"></canvas>
              </div>
              <div id="chart-01-02" class="col s3"></div>
            </div>

            <br>

            <div class="row">
              <h5 class="light">Em seguida, o gráfico feito de um numpy array:</h5>
              <div id="chart-02-01" class="col s3"></div>
              <div id="chart-02" class="col s6">
                <canvas id="numpyChart" width="100" height="100"></canvas>
              </div>
              <div id="chart-02-02" class="col s3"></div>
            </div>
          </div>
          <br>
        </div>
      </fieldset>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var ctx = document.getElementById("modelChart");

              var names = JSON.parse('{{ names|safe }}');
              var prices = JSON.parse('{{ prices|safe }}');

              var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: names,
                  datasets: [{
                    label: 'Preço',
                    data: prices,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 29, 62)',
                    fill: false,
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  }
                }
              });
  </script>

  <script>
    var ctx1 = document.getElementById("numpyChart");
              var index = JSON.parse('{{ index|safe }}');
              var x = JSON.parse('{{ x|safe }}');
              var y = JSON.parse('{{ y|safe }}');

              var myChart1 = new Chart(ctx1, {
                type: 'line',
                data: {
                  labels: index,
                  datasets: [{
                    label: 'Valor X',
                    data: x,
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    fill: false,
                  }, {
                    label: 'Valor Y',
                    data: y,
                    backgroundColor: 'rgb(0, 99, 255)',
                    borderColor: 'rgb(0, 99, 255)',
                    fill: false,
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  }
                }
              });
  </script>
{% endblock %}
